In [126]:
import requests
from bs4 import BeautifulSoup

In [127]:
res = requests.get('https://scraping-for-beginner.herokuapp.com/ranking/')
res

In [128]:
soup = BeautifulSoup(res.text, 'html.parser')
# soup

In [129]:
## 1つ目の観光地情報を取得
# 観光地名の取得
spots = soup.find_all('div', attrs = {'class' : 'u_areaListRankingBox'})
spot = spots[0]
spot_name = spot.find('div', attrs = {'class' : 'u_title'})
spot_name

<div class="u_title col s12">
<p><h2><span class="badge">1</span>観光地 1</h2></p>
</div>

In [130]:
spot_name.text

'\n1観光地 1\n'

In [131]:
# 特定の文字列を抽出する
spot_name.find('span', attrs = {'class' : 'badge'}).extract()

In [132]:
spot_name

<div class="u_title col s12">
<p><h2>観光地 1</h2></p>
</div>

In [133]:
spot_name.text

'\n観光地 1\n'

In [134]:
# replaceで置換する
spot_name = spot_name.text.replace('\n', '')
spot_name

'観光地 1'

In [135]:
#評点
spot

<div class="u_areaListRankingBox row">
<div class="u_title col s12">
<p><h2>観光地 1</h2></p>
</div>
<!-- 観光地イメージ -->
<div class="place_img col s12">
<img alt="" src="/static/assets/img/img1.JPG"/>
</div>
<!-- 総合評価 -->
<div class="u_rankBox col s12">
<span style="--rate: 94.0%;"></span><span class="evaluateNumber">4.7</span><br/>
</div>
<!-- 各カテゴリ評価 -->
<div class="u_categoryTipsItem col s12">
<dl>
<dt>楽しさ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.6</span></dd>
<dd class="comment">楽しくて帰りたくなかった</dd>
</dl>
<dl>
<dt>人混みの多さ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.5</span></dd>
<dd class="comment">非常に混んでいた</dd>
</dl>
<dl>
<dt>景色</dt>
<dd class="is_rank"><span class="evaluateNumber">4.9</span></dd>
<dd class="comment">海が非常に綺麗であった</dd>
</dl>
<dl>
<dt>アクセス</dt>
<dd class="is_rank"><span class="evaluateNumber">4.2</span></dd>
<dd class="comment">船で2時間ほどであった</dd>
</dl>
</div>
<div class="divider">
</div>
</div>

In [136]:
eval_num = soup.find('div', attrs = {'class' : 'u_rankBox'}).text
eval_num = eval_num.replace('\n', '')
eval_num

'4.7'

In [137]:
eval_num = float(eval_num)
eval_num

4.7

In [138]:
spot

<div class="u_areaListRankingBox row">
<div class="u_title col s12">
<p><h2>観光地 1</h2></p>
</div>
<!-- 観光地イメージ -->
<div class="place_img col s12">
<img alt="" src="/static/assets/img/img1.JPG"/>
</div>
<!-- 総合評価 -->
<div class="u_rankBox col s12">
<span style="--rate: 94.0%;"></span><span class="evaluateNumber">4.7</span><br/>
</div>
<!-- 各カテゴリ評価 -->
<div class="u_categoryTipsItem col s12">
<dl>
<dt>楽しさ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.6</span></dd>
<dd class="comment">楽しくて帰りたくなかった</dd>
</dl>
<dl>
<dt>人混みの多さ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.5</span></dd>
<dd class="comment">非常に混んでいた</dd>
</dl>
<dl>
<dt>景色</dt>
<dd class="is_rank"><span class="evaluateNumber">4.9</span></dd>
<dd class="comment">海が非常に綺麗であった</dd>
</dl>
<dl>
<dt>アクセス</dt>
<dd class="is_rank"><span class="evaluateNumber">4.2</span></dd>
<dd class="comment">船で2時間ほどであった</dd>
</dl>
</div>
<div class="divider">
</div>
</div>

In [139]:
categoly_items = soup.find('div', attrs = {'class' : 'u_categoryTipsItem'})

In [140]:
categoly_items = categoly_items.find_all('dl')
categoly_items

[<dl>
 <dt>楽しさ</dt>
 <dd class="is_rank"><span class="evaluateNumber">4.6</span></dd>
 <dd class="comment">楽しくて帰りたくなかった</dd>
 </dl>,
 <dl>
 <dt>人混みの多さ</dt>
 <dd class="is_rank"><span class="evaluateNumber">4.5</span></dd>
 <dd class="comment">非常に混んでいた</dd>
 </dl>,
 <dl>
 <dt>景色</dt>
 <dd class="is_rank"><span class="evaluateNumber">4.9</span></dd>
 <dd class="comment">海が非常に綺麗であった</dd>
 </dl>,
 <dl>
 <dt>アクセス</dt>
 <dd class="is_rank"><span class="evaluateNumber">4.2</span></dd>
 <dd class="comment">船で2時間ほどであった</dd>
 </dl>]

In [141]:
categoly_items[0]

<dl>
<dt>楽しさ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.6</span></dd>
<dd class="comment">楽しくて帰りたくなかった</dd>
</dl>

In [142]:
# 楽しさのみ取得
categoly_item = categoly_items[0]
categoly_item

<dl>
<dt>楽しさ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.6</span></dd>
<dd class="comment">楽しくて帰りたくなかった</dd>
</dl>

In [143]:
categoly = categoly_item.dt.text
categoly

'楽しさ'

In [144]:
rank = float(categoly_item.span.text)
rank

4.6

In [145]:
details = {}

# categoly_item = categoly_items[0]
for categoly_item in categoly_items :
    categoly = categoly_item.dt.text
    rank = float(categoly_item.span.text)

details[categoly] = rank

In [146]:
details

{'アクセス': 4.2}

In [147]:
datum = details
datum['観光地名'] = spot_name
datum['評点'] = eval_num

In [148]:
datum

{'アクセス': 4.2, '観光地名': '観光地 1', '評点': 4.7}

In [149]:
soup = BeautifulSoup(res.text, 'html.parser')

data = []

# 観光地名
spots = soup.find_all('div', attrs = {'class' : 'u_areaListRankingBox'})
for spot in spots :
    spot_name = spot.find('div', attrs = {'class' : 'u_title'})

    spot_name = spot_name.text.replace('\n', '')

# 評点
    eval_num = soup.find('div', attrs = {'class' : 'u_rankBox'}).text
    eval_num = float(eval_num.replace('\n', ''))

    categoly_items = soup.find('div', attrs = {'class' : 'u_categoryTipsItem'})
    categoly_items = categoly_items.find_all('dl')

    details = {}

    for categoly_item in categoly_items :
        categoly = categoly_item.dt.text
        rank = float(categoly_item.span.text)

    details[categoly] = rank

    datum = details
    datum['観光地名'] = spot_name
    datum['評点'] = eval_num
    data.append(datum)

In [150]:
data

[{'アクセス': 4.2, '観光地名': '1観光地 1', '評点': 4.7},
 {'アクセス': 4.2, '観光地名': '2観光地 2', '評点': 4.7},
 {'アクセス': 4.2, '観光地名': '3観光地 3', '評点': 4.7},
 {'アクセス': 4.2, '観光地名': '4観光地 4', '評点': 4.7},
 {'アクセス': 4.2, '観光地名': '5観光地 5', '評点': 4.7},
 {'アクセス': 4.2, '観光地名': '6観光地 6', '評点': 4.7},
 {'アクセス': 4.2, '観光地名': '7観光地 7', '評点': 4.7},
 {'アクセス': 4.2, '観光地名': '8観光地 8', '評点': 4.7},
 {'アクセス': 4.2, '観光地名': '9観光地 9', '評点': 4.7},
 {'アクセス': 4.2, '観光地名': '10観光地 10', '評点': 4.7}]

In [151]:
import pandas as pd

In [152]:
df = pd.DataFrame(data)

In [153]:
df

   アクセス      観光地名   評点
0   4.2    1観光地 1  4.7
1   4.2    2観光地 2  4.7
2   4.2    3観光地 3  4.7
3   4.2    4観光地 4  4.7
4   4.2    5観光地 5  4.7
5   4.2    6観光地 6  4.7
6   4.2    7観光地 7  4.7
7   4.2    8観光地 8  4.7
8   4.2    9観光地 9  4.7
9   4.2  10観光地 10  4.7

In [154]:
df.columns

Index(['アクセス', '観光地名', '評点'], dtype='object')

In [155]:
df = df[['観光地名', '評点', 'アクセス']]

In [156]:
df

       観光地名   評点  アクセス
0    1観光地 1  4.7   4.2
1    2観光地 2  4.7   4.2
2    3観光地 3  4.7   4.2
3    4観光地 4  4.7   4.2
4    5観光地 5  4.7   4.2
5    6観光地 6  4.7   4.2
6    7観光地 7  4.7   4.2
7    8観光地 8  4.7   4.2
8    9観光地 9  4.7   4.2
9  10観光地 10  4.7   4.2

In [157]:
df.to_csv('観光地情報.csv', index = False)